body {
    background-color: lightblue;
    background-image: url("imagenes/background.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: content-box;
}